recursive-include darts *.py *.pyx *.pxd *.json *.txt *.mbs *.pbs *.bdf *.onnx *.map *.tmap *.proto
recursive-include darts/devel *.py
graft ../src
graft ../data
include ../README.md
include ../meson.build
include ../meson_options.txt
include setup.py
include pyproject.toml
